.faq{
    padding: 5.6vw;
    max-width: 1240px;
    width: 100%;
    padding-left: 120px;
    @media (max-width: 768px) {
        padding: 20px;
        padding-top: 20px;
    }

    h2{
        text-align: center;
        margin-bottom: 42px;
        color: gray;
    }

    &__questions {
        &__item{
            background-color: #13151d;
            margin-bottom: 16px;
            border-radius: 8px;
            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }
            &__answer{
                color: gray;
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .4s ease-in-out;
            }
            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }
                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .4s ease-in-out;
                }
            }
        }
    }
}