.header{
    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }
    &__logo{
        max-width: 60px;
        width: 100%;
    }
    &__links{
        display: flex;
        &__item{
            
            padding: 8px;
            list-style: none;
            a{
                color: gray;
                background-color: black;
                text-decoration: none;
                border: 1px solid gray;
                padding: 8px;
                border-radius: 8px;
                &:hover{
                    background-color: rgba(gray,.7);
                }
            }
        }
    }
}