@use 'hero';
@use 'show';
@use 'personagens';
@use 'jogo';
@use 'faq';
@use 'footer';
@use 'header';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yusei Magic", sans-serif;
}

$corDeFundo: #000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

body{
    background-color: $corDeFundo;
}

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $corTextoPrincipal;
}

@mixin title($fontSize:28px){
    @include text($fontSize);
    color: $corTextoSecundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}
.title--big{
    @include title(44px);
}
.title--normal{
    @include title(40px);
}
.title--small{
    @include title;
}
.link-text{
    @include text(18px);
    color: $corTextoSecundario;
    text-decoration: underline;
}